---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
//import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Jonathan Hsu - J.Hsu.com',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Portfolio', href: '#portfolio' },
        { text: 'Blog', href: '#blog' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Jonathan Hsu"
    tagline="Personal Portfolio"
  >
    <Fragment slot="subtitle">
      I'm a Solutions Consulant passionate about solving expensive problems. I believe in co-creating solutions with customers and developing a deep relationship as their trusted advisor. I specialize in business process automation, specifically field service workflows in the Agriculture, Utilities, and Engineering industries.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://linkedin.com/in/jhsu98',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/jhsu98',
        },
      },
      {
        icon: 'tabler:brand-medium',
        callToAction: {
          target: '_blank',
          text: 'Medium',
          href: 'https://medium.com/@jhsu98',
        },
      },
    ]}
    image={{
      src: '/profile.jpg',
      alt: 'Jonathan Hsu',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Welcome to my problem-solving journey. I've lived a variety of professional lives. From the dojo to the classroom to the conference table, my obsession with building relationships and connecting people to answers remains constant.
      </p>
      <br />
      <p>
        Having the effective communication skills to define business problems along with the technical chops to make plans a reality, you won't find a better person to co-create a solution with.
      </p>
      <br />
      <p>Feel free to connect or follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'VP, Customer Success<br /><span class="font-normal">Zerion Software, Inc.</span><br /><span class="text-sm font-normal">2016 - 2023</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Adjunct Faculty<br /><span class="font-normal">IST Department, George Mason University</span><br /><span class="text-sm font-normal">2010 - 2016</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Head Instructor<br /><span class="font-normal">The Black Belt Academy</span><br /><span class="text-sm font-normal">1997 - 2016</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->
  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `PhD, Higher Education Administration<br /><span class="font-normal">College of Education & Human Development</span> <br /> <span class="text-sm font-normal">George Mason University - 2019</span>`,
        icon: 'tabler:school',
      },
      {
        title: `MS, Information Technology ITPM / Federal Sector<br /><span class="font-normal">Volgenau School of Engineering</span><br /><span class="text-sm font-normal">George Mason University - 2010</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle=""
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'B2B SaaS Solution Consulting',
        description: 'Advise organizations on cloud technology solutions',
      },
      {
        title: 'Business Process Automation',
        description: 'Design automations for complex business processes',
      },
      {
        title: 'Digital Transformation',
        description: 'Migrate traditional data operations to digital solutions',
      },
      {
        title: 'Integrations & REST APIs',
        description: 'Build bridges between multiple softwares',
      },
      {
        title: 'Programming & Software Development',
        description: 'Proficient in Python, JavaScript, Java, and SQL',
      },
      {
        title: 'Growth / Revenue Operations',
        description: 'Implement strategies to optimize revenue and growth alignment',
      },
      {
        title: 'Customer Success Leadership',
        description: 'Develop teams focused on retention, cross-selling, and up-selling',
      },
      {
        title: 'Product Led Growth',
        description: 'Advocate for strategies to improve product led growth (PLG)',
      },
      {
        title: 'CRM Admin & Development',
        description: 'Architect and administrate customer-centric systems',
      },
    ]}
  />

 

  <!-- Testimonials Widget *********** -->
  <Testimonials
    title="Client testimonials"
    testimonials={[
      // {
      //   testimonial: `asdf`,
      //   name: 'Name',
      //   job: 'Job',
      //   image: {
      //     src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      //     alt: 'Mark Thompson Image',
      //   },
      // },
      // {
      //   testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
      //   name: 'Emily Martinez',
      //   job: 'CEO',
      //   image: {
      //     src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
      //     alt: 'Emily Martinez Image',
      //   },
      // },
      {
        testimonial: `I worked closely with Jonathan on a custom data capture project for the mining industry. I would strongly endorse him as an incredible addition to any team or project. Jonathan has a unique ability to blend his advanced technical aptitude with highly effective communication. He consistently used humble inquiry and active listening to clearly define our process requirements. He then architected solutions with speed and quality while openly soliciting feedback on improvements. Jonathan's natural curiosity, reliability and consultative problem solving made him a critical resource and partner on our project.`,
        name: 'Rob Rickerson',
        job: 'Director of Operations and Analytics, Red Stag Fulfillment',
        image: {
          src: '/testimonials/rob-rickerson.jpg',
          alt: 'Rob Rickerson Image',
        },
      },
      {
        testimonial: `Jonathan has been a fantastic support to myself and the Concern Worldwide team for the past few years. His technical advice and support have always been timely, effective and clear. From project inception, to planning and delivery, his communication and ability to ask the right questions have ensured that projects are always delivered successfully. Above all, I really value Jonathan's enthusiasm for his work and skill as a teacher. This has really helped me develop my own technical and project planning skills.`,
        name: 'Patrick Moss',
        job: 'Digital Data Gathering Adviser, Concern Worldwide',
        image: {
          src: '/testimonials/patrick-moss.jpg',
          alt: 'Patrick Moss Image',
        },
      },
      {
        testimonial: `Jonathan is an asset to any complex technology development effort as well as a trusted ally. He is simultaneously able to provide superior focus on the customer while assuring platform integrity is maintained, ultimately assuring projects/deliverables are completed on time and beyond expectations.`,
        name: 'Rob Frankel',
        job: 'CEO MAPFlow Mobile',
        image: {
          src: '/testimonials/rob-frankel.jpg',
          alt: 'Rob Frankel Image',
        },
      },
      {
        testimonial: `Jonathan is a fantastic web solution design consultant. His work was excellent; he provided some very welcome recommendations that made the site much more effective. Jonathan was very responsive; he quickly became familiar with the details of what we were looking for, and he partnered with a couple of our consultants in building a very useful web solution in a matter of weeks. I would highly recommend Jonathan's services!`,
        name: 'Al Baharmast',
        job: 'CEO Process Informatics Inc.',
        image: {
          src: '/testimonials/al-baharmast.jpg',
          alt: 'Al Baharmast Image',
        },
      },
      {
        testimonial: `He has a wonderful ability to summarize flaws in the kids' form with just a few words. This requires deep knowledge, high skills of observation, solid communication skills, and a terrific intellect. Mr. Hsu also has high integrity and a strong work ethic. And he is a super all around nice guy! My son is lucky to have a teacher like him.`,
        name: 'Jeff Offutt',
        job: 'Professor and Chair at University at Albany',
        image: {
          src: '/testimonials/jeff-offutt.jpg',
          alt: 'Jeff Offutt Image',
        },
      },
      {
        testimonial: `Jon is truly a rare find. He started his martial arts training at the Black Belt Academy, received his Black Belt, continued to teach at the same school and finally becoming the Senior instructor at BBA. Jon has successfully instructed many students who admire and respect him.`,
        name: 'Mallory Woods',
        job: 'Martial Arts Specialist',
        image: {
          src: '/testimonials/mallory-woods.jpg',
          alt: 'Mallory Woods Image',
        },
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </Testimonials>

 <!-- Content Widget **************** -->
  <!-- MAIN PROJECT -->
  <Content
    id="portfolio"
    title="Past projects"
    subtitle="Elegant solutions that empower working smarter, not harder. Enjoy a sample of the solutions I've architected over the years"
    isReversed
    items={[
      {
        description: 'Empowered users to 5x their productivity through command-line scripting.',
      },
      {
        description: 'Improved environment management by ensuring reproducable deployments.'
      },
      {
        description: 'Used as the foundation for custom data loaders deployed as AWS Lambda and DigitalOcean Serverless Functions.',
      }
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1661963212517-830bbb7d76fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:square-arrow-right',
      href: 'https://github.com/jhsu98/zerionPy',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        zerionPy<br /><span class="text-2xl">Python API wrapper for iFormBuilder</span>
      </h3>
    </Fragment>

  </Content>

  <!-- Content Widget **************** -->
  <!-- SECOND PROJECT -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        description: 'Simple command-line tool for splitting large JSON files into equally sized files.',
      },
      {
        description: `Splits files structured as an array of objects by a maximum file size designated at runtime.`,
      },
      {
        description: `Useful for meeting system upload limitations.`
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:square-arrow-right',
      href: 'https://github.com/jhsu98/json-splitter',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        JSON Splitter<br /><span class="text-2xl">Command-line tool for chunking large JSON files</span>
      </h3>
    </Fragment>

  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Keep up with my latest musings and interests"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
